body {
    margin: 0;
    background: url(https://webcms.tpilet.ee/static/taustapilt.jpg) center / cover no-repeat fixed;
    font-family: CentroSansPro, sans-serif;
    font-style: normal;
    font-size: 16px;
}

/* Header section */
nav{
    font-size: 16px;
    display: inline-flex;
    height: 95px;
}

.site-header{
    height: 60px;
    flex-shrink: 0;
    position: relative;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 35px;
    background: #fff;
    border-bottom: 1px solid #ddd;

    
    
}

/* Navigation */
.site-header nav a{
    color: #9b9b9b;
    text-decoration: none;
    margin: 0 10px;
    margin-right: 34px;
    font-weight: bold;
    position: relative;
    font-size: 18px;
    line-height: 95px;
    bottom: 3px;
    
    
    

}
.site-header nav a.active {
    font-weight: 700;
    color: #f45a1e;
    border-bottom: 2px solid #f45a1e;
    line-height: 95px;
    position: relative;
    bottom: 3px;
}
.header-right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: relative;
    font-size: 14px;
}
.header-right-span{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    border-right: 1.5px solid gray;
    height: 65px;
    padding-right: 20px;
    color: #9b9b9b;
}

.languages a{
    margin-left: 10px;
    text-decoration: none;
    color: #444;
    font-size: 18px;

}

.languages a.active{
    color: #f45a1e;
    font-weight: bold;
}

h1,h3{
    letter-spacing: 2px;
}


h1{
    margin-top: 52px;
    margin-bottom: 40px;
    display: block;
}

.hero{
    height: calc(100vh - 220px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
}

.white-box{
    background-color: #fff;

    width: 400px;
    padding-bottom: 25px;

}

.search-box{

    width: 400px;
    margin-top: 60px;
}

.tabs{
    display: flex;
    border-bottom: 1px solid #ddd;
    padding-top: 5px;
    align-items: center;
}

.tabs button {
    flex: 1;
    padding: 8px;
    border: none;
    cursor: pointer;
    background: none;
    font-weight: bold;
}

.town{
    border-bottom: 1px solid #ddd;
    
}

.inputdate{
    font-family: CentroSansPro, sans-serif;
    border-bottom: 1px solid #ddd;

}

.tabs button.active{
    color: #f45a1e;
    border-bottom: 2px solid #f45a1e;
    
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;

}

form input{
    height: 60px;
    
   border: none;
    width: 360px;
    font-size: 16px;
    padding-inline: 20px;
   
   

    
}



form button{
    background-image: linear-gradient(260deg, #ff7b00, #ff5a3c);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    width: 220px;
    border-radius: 5px;
    height: 60px;
    font-size: 17px;
    border: none;
    margin-top: 30px;
    
}

.popular{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popular h3{
    margin: 0 0 20px;
    font-size: 16px;
    
}

.popular ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px 25px;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 13px;
    color: gray;
    line-height: 1.5;
}

li:hover {
    color: black;

}